Repository Shopify/blockchain-components, pull requests merged in 2023-02, with the labels that each got.

#10 :wrench: Update gate-context-client package.json links
  .changeset/thirty-books-smoke.md
  packages/gate-context-client/package.json
Labels: Area: Documentation 📝, Package: gate-context-client

#19 [chore] :recycle: Refactor onConnect listener creation to a util function
  packages/connect-wallet/src/hooks/useConnectWallet/useConnectWalletCallbacks.ts
  packages/connect-wallet/src/hooks/useMiddleware.ts
  packages/connect-wallet/src/middleware/onConnectMiddleware.test.ts
  packages/connect-wallet/src/middleware/onConnectMiddleware.ts
  packages/connect-wallet/src/providers/ModalProvider/provider.tsx
  packages/connect-wallet/src/slices/walletSlice/walletSlice.test.ts
  packages/connect-wallet/src/store/listenerMiddleware.ts
  packages/connect-wallet/src/test/configureStore.ts
  packages/connect-wallet/src/test/fixtures/connector.ts
  packages/connect-wallet/src/test/fixtures/signature.ts
  packages/connect-wallet/src/test/fixtures/wallet.ts
  packages/connect-wallet/src/types/generics.ts
Labels: 🤖Skip Changelog, Package: connect-wallet, Area: Testing 🧪, Type: Enhancement 📈

#21 :memo: Updates PR template + contributing guide
  .github/contributing.md
  .github/pull_request_template.md
Labels: Area: Documentation 📝, 🤖Skip Changelog

#20 Adds detail to gate context client README
  .changeset/thick-fishes-hang.md
  packages/gate-context-client/README.md
Labels: Area: Documentation 📝

#18 [connect-wallet] Add `Playground` story for Connect Wallet package
  .github/workflows/chromatic.yml
  packages/connect-wallet/package.json
  packages/connect-wallet/src/components/Playground/Playground.stories.tsx
  packages/connect-wallet/src/components/index.ts
Labels: 🤖Skip Changelog

#22 :construction_worker: Adds task list checker to CI workflows
  .github/contributing.md
  .github/pull_request_template.md
  .github/workflows/checklist.yml
  .github/workflows/chromatic.yml
Labels: 🤖Skip Changelog, Area: Tooling ⚒️

#8 :sparkles: Adds support for ENS resolution
  .changeset/few-coats-joke.md
  packages/connect-wallet/src/components/ConnectButton/ConnectButton.tsx
  packages/connect-wallet/src/hooks/useMiddleware.ts
  packages/connect-wallet/src/providers/ConnectWalletProvider/context.tsx
  packages/connect-wallet/src/providers/ConnectWalletProvider/provider.tsx
  packages/connect-wallet/src/providers/ConnectWalletProvider/types.ts
  packages/connect-wallet/src/slices/walletSlice/attributeOrder.test.ts
  packages/connect-wallet/src/slices/walletSlice/fetchEns.test.ts
  packages/connect-wallet/src/slices/walletSlice/fetchEns.ts
  packages/connect-wallet/src/slices/walletSlice/index.ts
  packages/connect-wallet/src/slices/walletSlice/walletSlice.test.ts
  packages/connect-wallet/src/slices/walletSlice/walletSlice.ts
  packages/connect-wallet/src/test/fixtures/signature.ts
  packages/connect-wallet/src/test/providers.ts
  packages/connect-wallet/src/types/provider.ts
  packages/connect-wallet/src/types/wallet.ts
  packages/connect-wallet/src/utils/provider.test.ts
  packages/connect-wallet/src/utils/provider.ts
Labels: Package: connect-wallet, Area: Testing 🧪, Type: Enhancement 📈

#24 Run jest tests via Turbo
  .github/contributing.md
  package.json
  packages/connect-wallet/jest.config.js
  packages/connect-wallet/package.json
  packages/gate-context-client/jest.config.js
  packages/gate-context-client/package.json
  packages/jestconfig/base.jest.config.js
  packages/jestconfig/jsdom.jest.config.js
  packages/jestconfig/package.json
  packages/jestconfig/setupTests.js
  packages/tokengate/jest.config.js
  packages/tokengate/package.json
  turbo.json
Labels: 🤖Skip Changelog

#31 :bug: Addresses an issue with exported types from shared
  .changeset/silver-cougars-check.md
  .eslintrc.js
  packages/connect-wallet/package.json
  packages/connect-wallet/tsconfig.json
  packages/shared/package.json
  packages/tokengate/package.json
  packages/tokengate/src/components/TokenBase/TokenBaseSkeleton.tsx
  packages/tokengate/src/fixtures/Condition.ts
  packages/tokengate/src/fixtures/Reaction.ts
  packages/tokengate/src/fixtures/Requirements.ts
  packages/tokengate/src/fixtures/UnlockingToken.ts
  packages/tokengate/tsconfig.json
Labels: Type: Bug 🐛, SEV-3, Package: connect-wallet, Package: tokengate

#33 :bug: Resolves an issue with path imports
  .changeset/rude-fishes-smile.md
  packages/connect-wallet/src/slices/walletSlice/walletSlice.ts
Labels: Type: Bug 🐛, SEV-3, Package: connect-wallet
